<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{@Context::addBodyClass('Liberty')}
<include target="_load_css.html" />
<include target="_header.html" />
<include target="_content.html" />
<include target="_load_js.html" />